@model OrderHeader

@{
    ViewData["Title"] = "InquiryConfirmation";
}

<div class="text-center">
    @if(Model != null)
    {
        <h1 class="text-primary">Order Created</h1>
        <p>Order #@Model.Id has been created succesfully!</p>
    }
    else
    {
        <h1 class="text-primary">Inquiry Confirmation</h1>
        <p>We have received your inquiry! Someone from our team will contact you soon.</p>
    }
    <img class="w-75" src="/images/patio.jpg"/>
</div>



