@{
    ViewData["Title"] = "Index";
}

<div class="border p-3 bg-white">
    <div class="d-flex justify-content-between mb-3">
        <div class="p-2">
            <h2 class="text-info">Inquiries List</h2>
        </div>
    </div>

    <table id="tblData" class="table table-stripped table-bordered pt-2 w-100">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone number</th>
                <th></th>
            </tr>
        </thead>
    </table>

</div>

@section Scripts{
    <script src="~/js/inquiry.js"></script>
}
